# Maven build output
/target/

# Logs
*.log

# Java build metadata
*.class

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/*.log

# OS files
.DS_Store
Thumbs.db
